.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex-grow: 1;
  }
  
  .footer {
    background-color: #7bb074;
    padding: 60px;
    color: white;
    position: sticky;
    bottom: 0;
  }